*{
    margin:0;
    padding: 0;
    box-sizing:border-box ; 

}
.form-register {
    width: 400px;
    background: #0d0d0d;
    padding:  30px;
    margin:  auto;
    margin-top:  100px;
    border-radius: 4px;
    font-family: 'Calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;

}
.controls {
    width: 100%;
    background: #070707;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #9b9b9c;
    font-family: 'Calibri';
    font-size: 18px ;
    color: white;
    

}
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}
.form-register a {
    color: white;
    text-decoration: none;
}
.form-register a:hover {
    color: white;
    text-decoration: underline;
}
.form-register .botons {
    width: 100px;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    
}
