
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}
html{
    font-size: 1rem;
    height: 100%;
}
body, main, footer {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;

}
header{
    width: 100%;
    clear: both;
    content: '';
    display: table;
}
main{
    min-height: 200px;

}

main>div {
    border: 2px blue solid;
    min-height: 180px; 
    margin: 0.5rem;
}
main>aside {
    border: 2px blue solid;
    min-height: 180px; 
    margin: 0.5rem;
}


.secciones {
    border: 2px  green solid;
    min-height: 50px;
    margin: 0.5rem;
}





